<% layout("/layouts/boilerplate")%>


    <h3>Edit Listing : </h3> 
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
        <input type="text" name="listing[title]" value="<%=listing.title%>" placeholder="Enter title"><br><br>
        <textarea name="listing[description]" placeholder="Write description about listing."><%=listing.description%></textarea><br><br>
        <input type="text" name="listing[image]" value="<%=listing.image%>" placeholder="Enter image URL/Link"><br><br>
        <input type="number" name="listing[price]" value="<%=listing.price%>" placeholder="Enter price"><br><br>
        <input type="text" name="listing[location]" value="<%=listing.location%>" placeholder="Enter location"><br><br>
        <input type="text" name="listing[country]" value="<%=listing.country%>" placeholder="Enter country"><br><br>
        <button>Edit</button>
    </form>


 
