<% layout("/layouts/boilerplate")%>

<body>
    <h3>Listing Details : </h3>
    <ul>
            <li><%=listing.title%></a></li>
            <li><%=listing.description%></a></li>
            <!-- <li><%=listing.image%></a></li> -->
            <li>&#8377; <%=listing.price.toLocaleString("en-IN")%></a></li>
            <li><%=listing.location%></a></li>
            <li><%=listing.country%></a></li>
    </ul>
    <!-- <br> -->
    <a href="/listings/<%=listing._id%>/edit">Edit this Listing</a>
    <br><br>
    <form action="/listings/<%=listing._id%>/?_method=DELETE" method="post">
        <button>Delete this listing.</button>
    </form>
</body>

 
