<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
</head>
<body>
    <h3>Listing Details : </h3>
    <ul>
            <li><%=listing.title%></a></li>
            <li><%=listing.description%></a></li>
            <!-- <li><%=listing.image%></a></li> -->
            <li>&#8377; <%=listing.price.toLocaleString("en-IN")%></a></li>
            <li><%=listing.location%></a></li>
            <li><%=listing.country%></a></li>
    </ul>
</body>
</html>

 
