<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3>Listing Details :</h3>
    </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image" />

        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b> <br />
                <%= listing.description %> <br />
                &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : 'Price not available' %> <br />
                <%= listing.location %> <br />
                <%= listing.country %> <br />
            </p>
        </div>
    </div>

    <div class="col-6 mb-4 offset-3 d-flex">
        <form action="/listings/<%= listing._id %>/edit" method="get">
            <button class="btn btn-dark btn-edit btn-dark-button">Edit</button>
        </form>
        <form action="/listings/<%= listing._id %>/?_method=DELETE" method="post">
            <button class="btn btn-dark btn-delete offset-4 btn-dark-button">Delete</button>
        </form>
    </div>
</div>
